body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: hsl(150, 25%, 25%);
  margin: 0;
  padding: 0 0 1.5em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: hsl(150, 75%, 25%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.loading {
  opacity: .25;
}

.kingdom {
  position: relative;
  margin: 2em 0;
  background: whitesmoke;
  padding: 2em;
  background-position: center top;
  background-size: 150px;
}

.kingdom:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .5;
}

.kingdom > h3, .kingdom > ul.tree {
  position: relative;
  z-index: 1;
}

.kingdom > h3 {
  color: white;
  font-size: 1.5em;
  line-height: 1.25em;
  text-transform: uppercase;
  margin: 0;
}

.kingdom > ul.tree {
  padding: 1.5em .5em 1em;
  margin: auto;
  margin-top: 1.5em;
  max-width: 50em;
}

li label, li h3 {
  display: inline-block;
  vertical-align: top;
}

li small:before {
  content: '(';
}

li small:after {
  content: ')';
}

li:hover {
  cursor: pointer;
}

li img {
  display: inline-block;
  vertical-align: middle;
  margin-left: .75em;
  max-height: 2em;
  border-radius: .25em;
  opacity: .5;
}

li:hover > label {
  cursor: pointer;
}

.tree {
  text-align: left;
  background: black;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 5px;
}

.tree a, .tree a:hover {
  color: white;
}

.tree,
.tree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tree ul {
  position: relative;
  padding-top: .5em;
  margin-left: .5em;
}

.tree ul ul {
  margin-left: .5em;
}

/* (indentation/2) */

.tree ul li:after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: .45;
  border-left: 1px solid;
}

.tree li {
  position: relative;
  margin: 0;
  padding: 0 1.5em;
  line-height: 2em;
  font-weight: bold;
}

.tree li:first-child {
  margin-top: 0;
}

.tree ul li:before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0;
  margin-top: -1px;
  /* border top width */
  width: 10px;
  /* same with indentation */
  height: 0;
  opacity: .45;
  border-top: 1px solid;
}

.tree ul li:last-child:before {
  height: auto;
  top: 0;
  border-bottom: thin solid;
  border-left: thin solid;
  bottom: 50%;
  border-top: 0;
  margin: 0;
}

.tree ul li:last-child:after {
  display: none;
}

.conservation-status {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5em;
  background: #ddd;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  font-size: 90%;
  font-family: monospace;
  text-transform: uppercase;
  color: black;
}

.conservation-status.warning-true {
  color: white;
  background: orangered;
}

.profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: white;
  padding-top: 4em;
  box-sizing: border-box;
}

.profile .gallery {
  background-position: center;
}

.close-profile {
  position: absolute;
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  border: 0;
  background: transparent;
  font-size: 2em;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 1000;
}

.close-profile:hover {
  color: black;
  cursor: pointer;
}

.close-profile:before {
  content: '\00D7';
  position: absolute;
  top: 50%;
  left: 50%;
  text-indent: 0;
  width: 1em;
  line-height: 1em;
  margin: -.667em -.5em;
  text-align: center;
}

.profile h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 2em;
  line-height: 3em;
  font-size: 1.333em;
  margin: 0;
}

#map, .gallery.slick-slider {
  width: 100%;
  height: 50%;
  margin: 0;
}

@media screen and (min-width: 1100px) {
  #map, .gallery.slick-slider {
    float: left;
    width: 50%;
    height: 100%;
  }
}

#map {
  background: #000;
}

.gallery.slick-slider:before {
  content: 'No Images';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  line-height: 1em;
  margin-top: -.5em;
  text-transform: uppercase;
  font-size: 1.5em;
  opacity: .5;
}

.slick-list, .slick-track, .slick-slide {
  height: 100%;
}

.slick-initialized .slick-slide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slick-next, .slick-prev {
  width: 32px;
  height: 32px;
  margin-top: -16px;
}

.slick-prev:before, .slick-next:before {
  font-size: 32px;
}

.slick-prev {
  left: 32px;
}

.slick-next {
  right: 32px;
}

.slick-slide {
  background: #666;
  text-align: center;
}

.slick-slide img {
  margin: auto;
  max-height: 300px;
}

.leaflet-popup-content dl {
  overflow: hidden;
}

.leaflet-popup-content dt,
.leaflet-popup-content dd {
  float: left;
  padding: 0;
  margin: 0 0 .5em;
}

.leaflet-popup-content dt {
  clear: both;
  font-weight: bold;
  margin-right: .5em;
}

.leaflet-popup-content dt:after {
  content: ':';
}
